body {
  max-width: 450px;
  min-width: 320px;
  margin:0 auto;
  font:normal 14px/1.5 tahoma, "lucida grande", verdana, "microsoft yahei" , stxihei ,hei ;
  color: black;
  background-color: white;
  overflow-x: hidden;
  -webkit-tap-highlight-color:transparent ;

}