body {
  max-width: 540px;
  min-width: 320px;
  margin:0 auto;
  font:normal 14px/1.5 tahoma, "lucida grande", verdana, "microsoft yahei" , stxihei ,hei ;
  color:#000;
  background-color:#f2f2f2;
  overflow-x: hidden;
  -webkit-tap-highlight-color:transparent ;

}
 a {
    text-decoration: none;
    color:#222;

 }

.search-index {
  display: flex;
  /* 固定定位跟位置没关系,它以屏幕为准 */
  position:fixed;
  top: 0;
  width: 100%;
  max-width: 540px;
  min-width: 320px;
  height: 44px;
  /* background-color: pink; */
  
}
.search {
  height: 26px;
  border: 1px solid #ccc;
  flex: 1; 
  font-size: 10px;
  margin: 5px 8px;
  padding-top: 2px;
  border-radius: 5px;
  box-shadow: 0 2px 4px rgba(0,0,0, .2) ;
}
.user {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 44px;
  height: 44px;
  /* background-color: purple; */
  margin:0 ;
  padding:0;
  font-size: 8px;
}

.user-icon {
  width: 32px;
  height: 26px;
  /* background-color: pink;  */
  background: url(../images/R-C.png) -168px -12px ;
  background-size: 320px 502px;

}


.focus {
  padding-top: 44px;
}
.focus img {
   width: 100%;
}
/* 局部导航栏 */
.local-nav {
   display: flex;
   height: 64px;
   background-color: #fff;
   margin: 3px 4px;
   border-radius: 8px;

}
ul {
 list-style: none;
 margin: 0 ;
 padding: 0;

}
.local-nav li {
  flex: 1;
}

.local-nav a  {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.local-nav-icon  {
   width: 32px;
   height: 32px;
   /* background-color: pink; */
   margin-top: 8px;
   background: url(../images/R-C3.png) no-repeat -27px -138px ;
   background-size: 256px 181px;

}

